---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { formatDate, sortByYear, makeRequest } from "../../lib"

export async function getStaticPaths({paginate, rss}) {
    const { articles } = await makeRequest(
        `query AllArticles {
            articles(orderBy: published_DESC) {
                title
                description
                slug
                published
            }
        }`
    )

    rss({
        title: "meiuflux's blog",
        description: 'the blog that does be mine',
        customData: `<language>en-us</language>`,
        items: articles.map(a => ({
            title: a.title,
            description: a.description,
            link: `/blog/${a.slug}`,
            pubDate: new Date(a.published),
        })),
        dest: "/blog/feed.xml"
    });

  // Return a paginated collection of paths for all posts
  return paginate(articles, {pageSize: articles.length});
}

const { page } = Astro.props;
const posts = sortByYear(page.data)
---
<BaseLayout title="Blog">
    <h1 style="text-align: center;">blog</h1>

    {(Object.keys(posts).sort((a, b) => b-a)).map((key, index) => (
        <h2>{key}</h2>
        <ul>
            {posts[key].map(p => (
                <li>
                    <a href=`/blog/${p.slug}`>{p.title}</a> — <time datetime>{formatDate(p.published)}</time>
                </li>
            ))}
        </ul>
    ))}

</BaseLayout>

