---
import BaseLayout from "../layouts/BaseLayout.astro"

const projects = {
    "websites": [
        {
            "name": "meizuflux.com",
            "url": "https://meizuflux.com",
            "repo": "https://github.com/meizuflux/astroportfolio",
            "stack": [["Astro", "https://astro.build"], ["SakuraCSS", "https://github.com/oxalorg/sakura"], ["GraphCMS", "https://graphcms.com"], ["Cloudflare Pages", "https://pages.cloudflare.com"]],
            "description": "This is the website that you are currently on. I use this site as a blog, portfolio, and place to experiment with new technology."
        },
        {
            "name": "mzf.one",
            "url": "https://mzf.one",
            "repo": "https://github.com/meizuflux/mzf.one",
            "stack": [["SolidJS", "https://www.solidjs.com/"], ["Starlette", "https://www.starlette.io/"], ["Bootstrap 5", "https://getbootstrap.com/"], ["SQLite3", "https://www.sqlite.org/"]],
            "description": "This URL shortner is a privacy friendly app that I had a lot of fun making. It's made with a JS frontend that is served by the backend, and could currently maybe use some upkeeping."
        }
    ],
    "others": [
        {
            "name": "FastAPI Example",
            "url": null,
            "repo": "https://github.com/meizuflux/simple-fastapi",
            "stack": [["FastAPI", "https://fastapi.tiangolo.com"]],
            "description": "This is a simple FastAPI example project that showcases the many documentation features FastAPI offers."
        }
    ]
}
---
<BaseLayout title="Projects" description="Various projects that I (meizuflux) have worked on.">
    <h1 style="text-align: center">my projects</h1>
    <p>Various projects and things that I've made. They're most likely on my <a href="https://github.com/meizuflux">GitHub</a>.</p>

    {Object.keys(projects).map(key => (
        <h2>{key}</h2>
        <ul>
            {projects[key].map(p => (
                <li>
                    {p.url ? <a href={p.url}>{p.name}</a> : p.name} [{p.repo ? <a href={p.repo}>Repo</a> : "Private"}] 
                    ({p.stack.map(s => <a href={s[1]}>{s[0]}</div>).reduce((acc, x) => acc === null ? x : <>{acc}, {x}</>, null)})
                    <br />{p.description}
                </li>
            ))}
        </ul>
    ))}
</BaseLayout>