---
import BaseLayout from "$/layouts/BaseLayout.astro";
import { getReadingTime } from "$/utils";

const { content } = Astro.props;
const {title, description, tags, code, astro} = content;
---
<BaseLayout title={title} code={code}>
    <h1>{title}</h1>
    <p>{description}</p>
    <p>tags: {tags.map(t => (<span><a href={`/tag/${t}`}>{t}</a></span>))}</p>
    <p>{getReadingTime(astro.source)} minute read</p>
    <article>
        <slot />
    </article>

    <script src="https://giscus.app/client.js"
        data-repo="meizuflux/astroportfolio"
        data-repo-id="R_kgDOGXnCxw"
        data-category-id="DIC_kwDOGXnCx84B_-9C"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="dark_dimmed"
        data-lang="en"
        crossorigin="anonymous"
        async>
        
    </script>

</BaseLayout>
