---
import BaseLayout from "$/layouts/BaseLayout.astro";
import { getReadingTime } from "$/utils";

const { content } = Astro.props;
const {title, description, tags, astro} = content;
---
<BaseLayout title={title}>
    <h1>{title}</h1>
    <p>{description}</p>
    <p>tags: {tags.map(t => (<span><a href={`/tag/${t}`}>{t}</a></span>))}</p>
    <p>{getReadingTime(astro.source)} minute read</p>
    <article>
        <slot />
    </article>
</BaseLayout>
