---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getReadingTime, formatDate } from "../utils";

const { content } = Astro.props;
const {title, description, tags, created, modified, astro} = content;
---
<style>
    .h-stack {
        display: flex;
        justify-content: space-between;
    }
</style>

<BaseLayout title={title} description={description}>
    <div style="text-align: center;">
        <h1 style="margin-bottom: 0.5rem">{title}</h1>
        <p style="margin-bottom: 0">{description}</p>
    </div>
    
    <div class="h-stack">
        <p>{formatDate(created)} (Modified {formatDate(modified)})</p>
        <p>{getReadingTime(astro.source)} min read</p>
    </div>

    <article>
        <slot />
    </article>

    <script src="https://giscus.app/client.js"
        data-repo="meizuflux/astroportfolio"
        data-repo-id="R_kgDOGXnCxw"
        data-category-id="DIC_kwDOGXnCx84B_-9C"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="dark_dimmed"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>

</BaseLayout>
